{
  "presets": [
    
    [
      "env",
      {
          "modules": "commonjs",
          "useBuiltIns": "usage",
          "debug": false
      }
  ], "stage-0"
  ],
  "plugins": ["transform-es2015-modules-commonjs"],

  "env": {
    "test": {
      "presets": [  [
        "env",
        {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "debug": false
        }
    ], "stage-0"]
    }
  }
  
}