{
  "presets": [
    
    [
      "env",
      {
          "modules": "commonjs",
          "useBuiltIns": "usage",
          "debug": false
      }
  ], "stage-0"
  ],
  "plugins": [ "transform-object-rest-spread", "transform-es2015-modules-commonjs",
    "transform-export-extensions", "transform-async-to-generator", "transform-runtime"],

  "env": {
    "test": {
      "presets": [  [
        "env",
        {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "debug": false
        }
    ], "stage-0"],
      "plugins": [ "transform-object-rest-spread", "transform-es2015-modules-commonjs",
        "transform-export-extensions", "transform-async-to-generator", "transform-runtime"]
    }
  }
  
}